.verde {
    background-color: #53bd9d;
    height: 500px;
    color: white;
}

.yellow {
    background-color: aqua;
    height: 500px;

}

.footer {
    height: 100px;
    background-color: #3a546d;
    color: white;
}

img {
    width: 300px;
}



ul {
    list-style-type: none;
}

.end {
    color: white;
    background-color: #2c3e50;
}